:root {
  --primary-color: #8e44ad;
  --background-color: #f5f5f5;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--font-geist-sans);
  background-color: var(--background-color);
  min-height: 100vh;
}

button {
  font-family: var(--font-geist-sans);
}
